body {
  background: black;
  color: white;
}

span.button {
  padding: 2px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #aaaaaa;
}
span.button:hover {
  background: white;
  color: black;
}

td.mw_td_this_month {
  color: red;
}
td.mw_td_today {
  color: red;
}
