body {
  background: black;
  color: white;
}

span.button {
  padding: 2px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #aaaaaa;
}
span.button:hover {
  background: white;
  color: black;
}
